nav {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    height: var(--nav-height);
}

nav {
    grid-gap: 24px;
    padding: 0 24px;
    align-items: center;
    grid-template-columns: minmax(200px, 1fr) auto auto auto;
}


