nav {
    box-shadow: var(--shadow-below);
    height: var(--nav-height);
}

nav {
    grid-gap: 24px;
    padding: 0 24px;
    align-items: center;
    grid-template-columns: minmax(200px, 1fr) auto auto auto;
}


